table tbody tr {
  cursor: pointer; }
  table tbody tr:hover {
    background: #F9F9F9; }
  table tbody tr .order-row-button {
    color: #337ab7; }
    table tbody tr .order-row-button:hover {
      text-decoration: none;
      color: #286090; }
  table tbody tr .update-row-button {
    color: #337ab7;
    padding: 0 0 0 15px;
    margin: 0 0 0 -15px; }
    table tbody tr .update-row-button:hover {
      text-decoration: none;
      color: #286090; }
  table tbody tr .delete-row-button {
    color: #d9534f;
    padding: 0 0 0 15px; }
    table tbody tr .delete-row-button:hover {
      text-decoration: none;
      color: #C9302C; }
