[Tt]humbs.db
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.Trash
.Trash-*
.AppleDB
.AppleDesktop
Network\ Trash\ Folder
Temporary\ Items
.apdisk
.project
.idea
/vendor
/.sass-cache